---
import Button from "./ui/Button.astro";

interface Props {
  style?: string;
  className?: string;
  title: string;
  subtitle: string;
  secondSubtitle?: string;
  media: string;
  mediaType?: string;
  type?: string;
}

const {
  style,
  className,
  title,
  subtitle,
  secondSubtitle,
  media,
  mediaType,
  type,
} = Astro.props;
const isReversed = type === "reversed";
---

<main style={style} class={className}>
  <div
    class={`container position-relative ${isReversed ? "container-reversed" : ""}`}
  >
    <div
      class={`row justify-content-between flex-lg-row ${isReversed ? "flex-lg-row-reverse" : "flex-column"}`}
    >
      <div class="col-lg-5 col-12">
        <p class="title">{title}</p>
        <p class="subtitle">
          {subtitle}
        </p>
        <p class="subtitle subtitle-2">
          {secondSubtitle}
        </p>

        <div class={`${isReversed ? "helper-1-reversed" : "helper-1"}`}></div>
        <div class={`${isReversed ? "helper-2-reversed" : "helper-2"}`}></div>
        <div class={`${isReversed ? "helper-3-reversed" : "helper-3"}`}>
          <div class="w-100 h-100 position-relative">
            <div
              class={`position-absolute bottom-0 ${isReversed ? "end-0" : "start-0"}`}
            >
              <Button label="Contact with us" variant="filled" />
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 col-12 d-flex justify-content-center align-items-center mt-lg-0 mt-3"
      >
        <!-- <video width="100%" autoplay muted loop>
          <source src={media} type="video/mp4" />
        </video> -->

        {
          mediaType === "video" ? (
            <video width="100%" autoplay muted loop>
              <source src={media} type="video/mp4" />
            </video>
          ) : (
            <img src={media} alt={title} class="img-fluid" />
          )
        }
      </div>
    </div>
  </div>
</main>

<style>
  .container {
    background-color: var(--block-color);
    border-radius: 3rem;
    border-bottom-right-radius: 0;
    margin-top: 100px;
    padding: 100px;
    padding-bottom: 0;
    color: var(--text-color);
  }

  .container-reversed {
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 0;
    margin-top: 100px;
    padding: 100px;
    padding-bottom: 0;
  }

  .row {
    padding-bottom: 100px;
  }

  .title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
  }

  .subtitle {
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
  }

  .helper-1 {
    width: calc(100% - 219.18px);
    height: 85px;
    position: absolute;
    right: 0;
    bottom: -85px;
    background-color: var(--block-color);
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
  }

  .helper-1-reversed {
    width: calc(100% - 219.18px);
    height: 85px;
    position: absolute;
    left: 0;
    bottom: -85px;
    background-color: var(--block-color);
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
  }

  .helper-2 {
    width: 219.18px;
    height: 85px;
    background-color: var(--block-color);
    position: absolute;
    bottom: -85px;
    left: 0;
  }

  .helper-2-reversed {
    width: 219.18px;
    height: 85px;
    background-color: var(--block-color);
    position: absolute;
    bottom: -85px;
    right: 0;
  }

  .helper-3 {
    width: 219.18px;
    height: 85px;
    background: var(--background-color);
    position: absolute;
    bottom: -85px;
    left: 0;
    border-top-right-radius: 3rem;
  }

  .helper-3-reversed {
    width: 219.18px;
    height: 85px;
    background: var(--background-color);
    position: absolute;
    bottom: -85px;
    right: 0;
    border-top-left-radius: 3rem;
  }

  @media only screen and (max-width: 991px) {
  }

  @media only screen and (max-width: 767px) {
    .container {
      padding: 50px;
      padding-bottom: 0;
    }

    .row {
      padding-bottom: 50px;
    }
  }

  @media only screen and (max-width: 575px) {
    .container {
      margin-top: 0;
      margin-bottom: 0;
      padding: 25px;
      padding-bottom: 0;
      border-radius: 0;
    }

    .row {
      padding-bottom: 25px;
    }

    .helper-1 {
      border-bottom-right-radius: 0;
    }

    .helper-1-reversed {
      border-bottom-left-radius: 0;
    }
  }
</style>
